.dados-portfolio {
    display:flex;
    border: 2px solid #cdcdcd;
    border-radius: 5px;
    width: 1000px;
    margin-top: 80px;
    margin: 0 auto;
    
}

.div-portfolio {
    background: #FFFFFF;
    height: 600px;
    align-items: center;
    margin: 0 auto;
}

.nome {
    text-align: center;
    font-size: 25px;
}

.lista {
    list-style: none;
    font-size: 18px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    color:dimgrey;
}

.rent {
    text-align: center;
    color:dimgrey;
}